header,footer{
    text-align: center; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.navTable{
    width:15%
}

}
a:visited{
    color:red; text-decoration: underline
}
a:hover{
    font-weight: bold
}

a:active{
    text-decoration-line:none
}