header,footer{
    text-align: center; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.navTable{
    width:15%
}

a{
    text-decoration: none;
    color:black
}
a:visited{
    color:red
}
a:hover{
    font-weight: bold
}